<a href="https://colab.research.google.com/github/Basifrank/Hamoye_DS_Internship/blob/master/Hamoye_stage_B.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [103]:
import pandas as pd  
import numpy as np  
import matplotlib.pyplot as plt  
import seaborn as sns 
from datetime import datetime as dt
from sklearn.model_selection import train_test_split 
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import r2_score
import calendar
from sklearn.metrics import  mean_squared_error
from sklearn.linear_model import Lasso
from sklearn.linear_model import Ridge
from sklearn.preprocessing import MinMaxScaler
from sklearn import metrics
%matplotlib inline

T1, Temperature in kitchen area, in Celsius
RH_1, Humidity in kitchen area, in %
T2, Temperature in living room area, in Celsius
RH_2, Humidity in living room area, in %
T3, Temperature in laundry room area
RH_3, Humidity in laundry room area, in %
T4, Temperature in office room, in Celsius
RH_4, Humidity in office room, in %
T5, Temperature in bathroom, in Celsius
RH_5, Humidity in bathroom, in %
T6, Temperature outside the building (north side), in Celsius
RH_6, Humidity outside the building (north side), in %
T7, Temperature in ironing room , in Celsius
RH_7, Humidity in ironing room, in %
T8, Temperature in teenager room 2, in Celsius
RH_8, Humidity in teenager room 2, in %
T9, Temperature in parents room, in Celsius
RH_9, Humidity in parents room, in %
To, Temperature outside (from Chievres weather station), in Celsius
Pressure (from Chievres weather station), in mm Hg
RH_out, Humidity outside (from Chievres weather station), in %
Wind speed (from Chievres weather station), in m/s
Visibility (from Chievres weather station), in km
Tdewpoint (from Chievres weather station), Â°C
rv1, Random variable 1, nondimensional
rv2, Random variable 2, nondimensional

In [104]:
column_names = {'T1':'kitchen_Temp_Celsius', 'RH_1':'kitchen_Humidity%', 'T2':'living_room_Temp_Celsius', 'RH_2': 'living_room_Humidity%',
                'T3':'laundry_room_Temp', 'RH_3':'laundry_room_Humidity%', 'T4':'office_room_Temp_Celsius', 'RH_4': 'office_room_Humidity%',
                'T5':'bathroom_Temp_Celsius', 'RH_5':'bathroom_Humidity%', 'T6':'outside_building_North_Temp_Celsius', 'RH_6':'outside_building_North_Humidity_%',
                 'T7':'ironing_room_Temp_Celsius', 'RH_7':'ironing room_Humidity%', 'T8':'teenager_room_Temp_Celsius', 'RH_8':'teenager_room_Humidity%',
                'T9':'parents_room_Temp_Celsius', 'RH_9':'parents_room_Humidity%', 'T_out':'outside_Chievres_stattion_Temp_Celsius',
                 'rv1':'Random_var1_nondimensional', 'rv2':'Random_var2_nondimensional' }

In [105]:
data = pd.read_csv('/content/drive/My Drive/Hamoye Internship/energydata_complete.csv')

In [106]:
data.head()

                  date  Appliances  lights  ...  Tdewpoint        rv1        rv2
0  2016-01-11 17:00:00          60      30  ...        5.3  13.275433  13.275433
1  2016-01-11 17:10:00          60      30  ...        5.2  18.606195  18.606195
2  2016-01-11 17:20:00          50      30  ...        5.1  28.642668  28.642668
3  2016-01-11 17:30:00          50      40  ...        5.0  45.410389  45.410389
4  2016-01-11 17:40:00          60      40  ...        4.9  10.084097  10.084097

[5 rows x 29 columns]

In [107]:
data2 = data.copy()

In [108]:
data2.shape

(19735, 29)

#Changing column names

In [109]:
col_change_data = data2.rename(columns=column_names)

In [110]:
col_change_data.shape

(19735, 29)

In [112]:
col_change_data2 = col_change_data.copy()

In [113]:
col_change_data.head()

                  date  ...  Random_var2_nondimensional
0  2016-01-11 17:00:00  ...                   13.275433
1  2016-01-11 17:10:00  ...                   18.606195
2  2016-01-11 17:20:00  ...                   28.642668
3  2016-01-11 17:30:00  ...                   45.410389
4  2016-01-11 17:40:00  ...                   10.084097

[5 rows x 29 columns]

In [122]:
#Extracting year and Month

col_change_data['Year'] = pd.DatetimeIndex(col_change_data['date']).year

col_change_data['Month'] = pd.DatetimeIndex(col_change_data['date']).month

In [123]:
#Month_Name

col_change_data['Month_Name'] = col_change_data['Month'].apply(lambda x: calendar.month_abbr[x])

In [126]:
col_change_data.groupby('Month_Name')['Appliances'].sum()

Month_Name
Apr    427200
Feb    421550
Jan    283510
Mar    432800
May    362950
Name: Appliances, dtype: int64

In [148]:
col_change_data.columns

Index(['date', 'Appliances', 'lights', 'kitchen_Temp_Celsius',
       'kitchen_Humidity%', 'living_room_Temp_Celsius',
       'living_room_Humidity%', 'laundry_room_Temp', 'laundry_room_Humidity%',
       'office_room_Temp_Celsius', 'office_room_Humidity%',
       'bathroom_Temp_Celsius', 'bathroom_Humidity%',
       'outside_building_North_Temp_Celsius',
       'outside_building_North_Humidity_%', 'ironing_room_Temp_Celsius',
       'ironing room_Humidity%', 'teenager_room_Temp_Celsius',
       'teenager_room_Humidity%', 'parents_room_Temp_Celsius',
       'parents_room_Humidity%', 'outside_Chievres_stattion_Temp_Celsius',
       'Press_mm_hg', 'RH_out', 'Windspeed', 'Visibility', 'Tdewpoint',
       'Random_var1_nondimensional', 'Random_var2_nondimensional', 'Year',
       'Month', 'Month_Name'],
      dtype='object')

In [ ]:
#From the dataset, fit a linear model on the relationship between
 #the temperature in the living room in Celsius (x = T2) and 
# the temperature outside the building (y = T6). What is the R^2 value in two D.P?

In [224]:
simple_linear_reg_df = col_change_data[['living_room_Temp_Celsius', 'outside_building_North_Temp_Celsius']]

In [225]:
simple_linear_reg_df.head()

   living_room_Temp_Celsius  outside_building_North_Temp_Celsius
0                      19.2                             7.026667
1                      19.2                             6.833333
2                      19.2                             6.560000
3                      19.2                             6.433333
4                      19.2                             6.366667

In [226]:
norm_data_features2 = simple_linear_reg_df.drop(columns=['outside_building_North_Temp_Celsius'])
                                      
norm_data_target2 = simple_linear_reg_df['outside_building_North_Temp_Celsius']

x_train2, x_test2, y_train2, y_test2 = train_test_split(norm_data_features2, norm_data_target2, test_size=0.3, random_state=42)

In [227]:

linear_model2 = LinearRegression()
#fit the model to the training dataset
linear_model2.fit(x_train2, y_train2)
#obtain predictions
predicted_values2 = linear_model2.predict(x_test2)

In [235]:
predicted_values2

array([ 2.15578912, 10.01116055,  1.87391554, ...,  4.24758774,
        8.69822311,  4.9893603 ])

In [241]:
from sklearn.metrics import r2_score
r2_score2 = r2_score(y_test2, predicted_values2)
round(r2_score2, 2)

0.64

In [236]:
#What is the Mean Absolute Error (in two decimal places)?

mae2 = mean_absolute_error(y_test2, predicted_values2)
round(mae2, 2)

2.82

In [237]:
#What is the Residual Sum of Squares (in two decimal places)?

rss2 = np.sum(np.square(y_test2 - predicted_values2))
round(rss2, 2)

78033.97

In [238]:
#What is the Root Mean Squared Error (in three decimal places)?
rmse2 = np.sqrt(mean_squared_error(y_test2, predicted_values2))
round(rmse2, 2)

3.63

In [125]:
col_change_data.head()

                  date  Appliances  lights  ...  Year  Month  Month_Name
0  2016-01-11 17:00:00          60      30  ...  2016      1         Jan
1  2016-01-11 17:10:00          60      30  ...  2016      1         Jan
2  2016-01-11 17:20:00          50      30  ...  2016      1         Jan
3  2016-01-11 17:30:00          50      40  ...  2016      1         Jan
4  2016-01-11 17:40:00          60      40  ...  2016      1         Jan

[5 rows x 32 columns]

#Normalizing Data

In [242]:
scaler = MinMaxScaler()

col_change_data3 = col_change_data2.copy()

normalised_data = col_change_data3.drop(columns=['date', 'lights'])

In [186]:
normalised_data.shape

(19735, 27)

In [243]:

normalised_data = pd.DataFrame(scaler.fit_transform(normalised_data), columns=normalised_data.columns)

In [117]:
normalised_data.head()

   Appliances  ...  Random_var2_nondimensional
0    0.046729  ...                    0.265449
1    0.046729  ...                    0.372083
2    0.037383  ...                    0.572848
3    0.037383  ...                    0.908261
4    0.046729  ...                    0.201611

[5 rows x 27 columns]

In [244]:
norm_data_features = normalised_data.drop(columns=['Appliances'])
norm_data_target = normalised_data['Appliances']

In [245]:

x_train, x_test, y_train, y_test = train_test_split(norm_data_features, norm_data_target, test_size=0.3, random_state=42)

linear_model = LinearRegression()
#fit the model to the training dataset
linear_model.fit(x_train, y_train)
#obtain predictions
predicted_values = linear_model.predict(x_test)

In [246]:
#MAE

mae = mean_absolute_error(y_test, predicted_values)
round(mae, 3)

0.05

In [249]:
#r2_score
from sklearn.metrics import r2_score
r_score = r2_score(y_test, predicted_values)
round(r_score, 3)

0.149

In [193]:
 #RSS

rss = np.sum(np.square(y_test - predicted_values))
round(rss, 3)

45.348

In [194]:
 #RSME

rmse = np.sqrt(mean_squared_error(y_test, predicted_values))
round(rmse, 3)

0.088

In [195]:

def get_weights_df(model, feat, col_name):
  #this function returns the weight of every feature
  weights = pd.Series(model.coef_, feat.columns).sort_values()
  weights_df = pd.DataFrame(weights).reset_index()
  weights_df.columns = ['Features', col_name]
  weights_df[col_name].round(3)
  return weights_df

In [219]:
from sklearn.linear_model import Lasso
lasso_reg = Lasso(alpha=0.001)
lasso_reg.fit(x_train, y_train)

Lasso(alpha=0.001, copy_X=True, fit_intercept=True, max_iter=1000,
      normalize=False, positive=False, precompute=False, random_state=None,
      selection='cyclic', tol=0.0001, warm_start=False)

In [218]:
lasso_reg2 = Lasso(alpha=0.0001)
lasso_reg2.fit(x_train, y_train)

Lasso(alpha=0.0001, copy_X=True, fit_intercept=True, max_iter=1000,
      normalize=False, positive=False, precompute=False, random_state=None,
      selection='cyclic', tol=0.0001, warm_start=False)

In [197]:
from sklearn.linear_model import Ridge
ridge_reg = Ridge(alpha=0.5)
ridge_reg.fit(x_train, y_train)

Ridge(alpha=0.5, copy_X=True, fit_intercept=True, max_iter=None,
      normalize=False, random_state=None, solver='auto', tol=0.001)

In [204]:
ridge_reg2 = Ridge(alpha=0.4)
ridge_reg2.fit(x_train, y_train)

Ridge(alpha=0.4, copy_X=True, fit_intercept=True, max_iter=None,
      normalize=False, random_state=None, solver='auto', tol=0.001)

In [253]:
#ridge
predicted_values4 = ridge_reg2.predict(x_test)

In [254]:
#ridge
rmse2 = np.sqrt(mean_squared_error(y_test, predicted_values4))

In [255]:
rmse2

0.08753385704628003

In [250]:
#What is the new RMSE with the Lasso Regression 

predicted_values_lasso = lasso_reg.predict(x_test)
rmselasso = np.sqrt(mean_squared_error(y_test, predicted_values_lasso))
round(rmselasso, 3)

0.094

In [223]:
#Train a lasso regression model with an alpha value of 0.001 and obtain the new feature weights with it. How many of the features have non-zero feature weights?

lasso_weights_df = get_weights_df(lasso_reg, x_train, 'Lasso_weight')
len(lasso_weights_df[lasso_weights_df['Lasso_weight']!=0])

4