<a href="https://colab.research.google.com/github/Basifrank/Hamoye_DS_Internship/blob/master/Hamoye_Stage_One.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import statistics
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [2]:
url = 'https://raw.githubusercontent.com/WalePhenomenon/climate_change/master/fuel_ferc1.csv'

dataFuel = pd.read_csv(url)

dataFuel_copy = dataFuel.copy()

In [3]:
dataFuel_copy.dtypes

record_id                        object
utility_id_ferc1                  int64
report_year                       int64
plant_name_ferc1                 object
fuel_type_code_pudl              object
fuel_unit                        object
fuel_qty_burned                 float64
fuel_mmbtu_per_unit             float64
fuel_cost_per_unit_burned       float64
fuel_cost_per_unit_delivered    float64
fuel_cost_per_mmbtu             float64
dtype: object

In [4]:
dataFuel_copy.describe()

       utility_id_ferc1  ...  fuel_cost_per_mmbtu
count      29523.000000  ...         29523.000000
mean         118.601836  ...            19.304354
std           74.178353  ...          2091.540939
min            1.000000  ...           -41.501000
25%           55.000000  ...             1.940000
50%          122.000000  ...             4.127000
75%          176.000000  ...             7.745000
max          514.000000  ...        359278.000000

[8 rows x 7 columns]

In [5]:
num_fuel_type = list(dataFuel_copy.fuel_type_code_pudl.unique())
num_fuel_type, len(num_fuel_type)

(['coal', 'gas', 'nuclear', 'oil', 'waste', 'other'], 6)

In [6]:
dataFuel_copy[dataFuel_copy['fuel_unit'] == 'ton'].groupby('fuel_type_code_pudl')['fuel_type_code_pudl'].unique()

fuel_type_code_pudl
coal      [coal]
gas        [gas]
oil        [oil]
other    [other]
waste    [waste]
Name: fuel_type_code_pudl, dtype: object

In [7]:
dataFuel_copy2 = dataFuel_copy.copy()

#Question

In [8]:
Aa = [1,2,3,4,5,6]
Bb = [13, 21, 34]

Cc = Aa.extend(Bb)

#Question

Which of the following fuel type code has the lowest average fuel cost per unit burned?

In [9]:
Avg_Energy_type = pd.DataFrame({'Avg_Energy_type': dataFuel_copy2.groupby('fuel_type_code_pudl')['fuel_cost_per_unit_burned'].mean()}).reset_index()
Avg_Energy_type.sort_values('Avg_Energy_type')

  fuel_type_code_pudl  Avg_Energy_type
1                 gas        13.659397
4               other        18.253856
5               waste        19.518122
0                coal        67.421830
3                 oil       168.877086
2             nuclear      4955.157002

#Question
What is the standard deviation and 75th percentile of the measure of energy per unit (Fuel_mmbtu_per_unit) in two decimal places?

In [12]:
stdev = dataFuel_copy2['fuel_mmbtu_per_unit'].std()
percentile_75 = dataFuel_copy2['fuel_mmbtu_per_unit'].quantile(0.75)

In [15]:
print(np.round(stdev, decimals=2)), print(np.round(percentile_75, decimals=2))

10.6
17.01

(None, None)


#Question

What is the skewness and kurtosis for the fuel quantity burned in two decimal places?

In [17]:
 print(np.round(dataFuel_copy2['fuel_qty_burned'].skew(), decimals = 2)), print(np.round(dataFuel_copy2['fuel_qty_burned'].kurtosis(), decimals=2))

15.85
651.37

(None, None)


#Question

Which feature has missing values and what is the total number of missing value and percentage of the missing rows as a factor of the total number of rows in three decimal places? 

(Enter answer in the format: Feature: xxx, Total: xxx, Percent: xxx)

In [18]:
dataFuel_copy.isnull().sum()

record_id                         0
utility_id_ferc1                  0
report_year                       0
plant_name_ferc1                  0
fuel_type_code_pudl               0
fuel_unit                       180
fuel_qty_burned                   0
fuel_mmbtu_per_unit               0
fuel_cost_per_unit_burned         0
fuel_cost_per_unit_delivered      0
fuel_cost_per_mmbtu               0
dtype: int64

In [21]:
percent_missing = (180/int(dataFuel_copy.shape[0])) * 100
print(np.round(percent_missing, decimals = 3))

0.61

#Question
Which of the features has the second and third lowest correlation with the Fuel Cost Per Unit Burned?

In [22]:
dataFuel_copy2.corr()['fuel_cost_per_unit_burned'].sort_values()

utility_id_ferc1               -0.037863
fuel_qty_burned                -0.018535
fuel_mmbtu_per_unit            -0.010034
fuel_cost_per_mmbtu            -0.000437
fuel_cost_per_unit_delivered    0.011007
report_year                     0.013599
fuel_cost_per_unit_burned       1.000000
Name: fuel_cost_per_unit_burned, dtype: float64

#Question

For the fuel type coal, what is the percentage change in the fuel cost per unit burned in 1998 compared to 1994?

In [23]:
#Getting coal data

coaldata = dataFuel_copy2[dataFuel_copy2['fuel_type_code_pudl']=='coal']
coaldata[:2]

                record_id  ...  fuel_cost_per_mmbtu
0   f1_fuel_1994_12_1_0_7  ...                1.121
1  f1_fuel_1994_12_1_0_10  ...                1.120

[2 rows x 11 columns]

In [24]:
#Grouping by year

coaldataYear = coaldata.groupby('report_year')['fuel_cost_per_unit_burned'].sum().reset_index()
coaldataYear[:2]

   report_year  fuel_cost_per_unit_burned
0         1994                  14984.572
1         1995                  14571.785

In [30]:
year1998value  = np.round(float(coaldataYear[coaldataYear['report_year']== 1998]['fuel_cost_per_unit_burned']), decimals=3) 
year1994value = np.round(float(coaldataYear[coaldataYear['report_year']== 1994]['fuel_cost_per_unit_burned'] ), decimals=3)

In [36]:
percentage_change = ((year1998value - year1994value)/year1994value) * 100

print(np.round(percentage_change, decimals=2))

-20.57

#Question

Which year has the highest average fuel cost per unit delivered?

In [40]:
Avg_Cost_Year = pd.DataFrame({'Avg_Cost_Year': dataFuel_copy2.groupby('report_year')['fuel_cost_per_unit_delivered'].mean()}).reset_index()

In [41]:
Avg_Cost_Year.sort_values('Avg_Cost_Year', ascending=False)

    report_year  Avg_Cost_Year
3          1997   11140.197239
2          1996    9196.705948
6          2000     985.362877
15         2009     652.694163
24         2018     499.269966
21         2015     326.535511
4          1998     287.154420
20         2014     192.737183
19         2013     172.307591
10         2004     139.524275
22         2016     103.901761
16         2010      91.862105
0          1994      63.636060
18         2012      60.994502
7          2001      60.050396
17         2011      59.774667
14         2008      58.588197
9          2003      55.663493
8          2002      47.594361
23         2017      46.196861
13         2007      43.325023
11         2005      41.438184
12         2006      38.657484
1          1995      32.735269
5          1999      25.551627